<h1>This is the main page. See the current hospital stats here:</h1>
<%=@hospital.name%> <br>
<%=@hospital.contact%> <br>
<%=@beds_current%> / <%=@beds_total%> <br>

<h2> <%=link_to "Search For a Room", search_index_path%> </h2>