<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @hospital.contact %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @hospital.hospital_id %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @hospital.distance %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
